@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.my-class > p {
    color: grey;
}

.layout--1 {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 100px auto auto 80px;
    grid-gap: 10px;
    grid-template-areas: 
        "name links links"
        "about about about"
        "qualities qualities qualities"
        "footer footer footer";

    min-height: 100vh;
}

.my-name {
    grid-area: name;
}

.nav {
    grid-area: links;
}

.my-class {
    grid-area: about;
}

.qualities-interests {
    grid-area: qualities;
}

.the-footer {
    grid-area: footer;
}