@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.my-class > p {
    color: grey;
}

.layout--1 {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 100px auto auto 80px;
    grid-gap: 10px;
    grid-template-areas: 
        "name links links"
        "about about about"
        "qualities qualities qualities"
        "footer footer footer";

    min-height: 100vh;
}

.nav-my-name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    grid-area: links;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-class {
    grid-area: about;
}

.qualities-interests {
    grid-area: qualities;
}

.the-footer {
    grid-area: footer;
}

.nav-my-name, nav {
    background-color: #f5f5f5;    
}

.nav-my-name > h1 {
    display: flex;
    justify-content: center;
}

.nav-menu-projects, .nav-menu-contact {
    margin: 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

.brief-title-h2 {
    display: flex;
    justify-content: center;
}


.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.my-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.strategic-span, .comfort-span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chess-pic {
    border-radius: 50%;
}

.comfort-pic {
    border-radius: 50%;
}

.qualities-interests {
    justify-content: center;
}

.grid-extra {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(200px, auto);
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-content: space-around;
    align-content: center;
}

.qualities, .hobbies-interests {
    
    align-self: start;
    justify-self: center;
}

.first-list, .second-list {
    list-style: none;
    padding: 0;
}

/* .qualities {
    grid-area: qualities;
}

.hobbies-interests {
    grid-area: hobbies;
} */