@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.my-class > p {
    color: grey;
}

#about-me p {
    color: orange;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}